version: "3.4"

x-logging: &default-logging
    driver: "json-file"
    options:
        max-size: "500k"
        max-file: "10"

services:
    reverse:
        build: nginx
        restart: always
        expose:
            - 80
        networks:
            - appnet
            - web
        labels:
            - "traefik.backend={{ vigilo_name }}-vigilo"
            - "traefik.docker.network=web"
            - "traefik.frontend.rule=Host:{{ vigilo_domain }}"
            - "traefik.enable=true"
            - "traefik.port=80"
        logging: *default-logging

    webapp:
        image: vigilobordeaux/local-demo-app:beta-1
        restart: always
        networks:
            - appnet
        environment:
            WEBPACK_MODE: ${WEBPACK_MODE:-development}
        logging: *default-logging

    db:
        image: mariadb:{{ mariadb_version }}
        restart: always
        networks:
            - dbnet
        environment:
            MYSQL_DATABASE: {{ maria_vigilo_dbname }}
            MYSQL_USER: {{ maria_vigilo_user }}
            MYSQL_PASSWORD: {{ maria_vigilo_password }}
            MYSQL_ROOT_PASSWORD: {{ maria_root_password }}
        volumes:
            - db:/var/lib/mysql
        logging: *default-logging

    admin:
        image: vigilobordeaux/vigilo-backend:{{ vigilo_version }}
        restart: always
        environment:
            VOLUME_PATH: /volume1/docker-datas/vigilo/
            BIND: 0.0.0.0:80
            MYSQL_USER: {{ maria_vigilo_user }}
            MYSQL_PASSWORD: {{ maria_vigilo_password }}
            MYSQL_DATABASE: {{ maria_vigilo_dbname }}
            MYSQL_HOST: db
            DOCKER_GROUP_ID: 990
            VIGILO_ADMIN_USER_NAME: {{ vigilo_admin_user }}
            VIGILO_ADMIN_LOGIN: {{ vigilo_admin_login }}
            VIGILO_ADMIN_PASSWORD: {{ vigilo_admin_password }}
        networks:
            - dbnet
            - appnet
        expose:
            - 80
        volumes:
            - {{ vigilo_data }}/www/documents:/var/www/documents
            - {{ vigilo_data }}/www/caches:/var/www/html/caches
            - {{ vigilo_data }}/www/maps:/var/www/html/maps
            - {{ vigilo_data }}/www/images:/var/www/html/images
            - {{ vigilo_data }}/logs/apache2/var_log_apache2:/var/log/apache2
        logging: *default-logging

networks:
    web:
        external: true
    dbnet:
    appnet:

volumes:
    db: