#!/bin/bash

cd "$(dirname "$0")"
echo "start backup vigilo {{ vigilo_name }}"
COMPOSE_INTERACTIVE_NO_CLI=1
/usr/local/bin/docker-compose exec -T db sh -c 'exec mysqldump --all-databases -uroot -p"{{ maria_root_password }}"' > {{ maria_vigilo_backupfile }}
echo "backup vigilo {{ vigilo_name }} done"
